* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

// Custom devices
@mixin custom_wd($screen) {
    @media (min-width: #{$screen}px) {
        @content;
    }
}

//Info sobre breakpoints en scss: https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2

@mixin customEnlace() {
    display: block;
    text-decoration: none;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    width: fit-content;
}

@mixin enlaces-explorarHoteles-inicioSesion($bgColor, $textColor) {
    background-color: $bgColor;
    color: $textColor;
}

@mixin inputDates($imgRoute) {
    background-image: url($imgRoute);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 0.5rem;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0EFEF;
}

header {
    width: 100%;
    justify-content: space-between;

    .menu {
        margin: 1rem;
    }

    .logo {
        margin: 1rem;

        img {
            border-radius: 10px;
            filter: hue-rotate(45deg) drop-shadow(2px 4px 6px black);
        }
    }
}

main {
    background-image: url('../img/backgroundIndex.png');
    background-size: cover;

    .heroSection {
        color: #444444;
        font-family: "League Spartan", sans-serif;

        .heroSectionTitleContainer {
            margin-top: 150px;

            h1 {
                font-size: 3.5rem;
            }

            .brandsList {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                list-style: none;
                background-color: rgba(68, 68, 68, 0.150);
                border-radius: 10px;
                padding: 0.5rem 1rem;

                li {
                    @include flex-center();
                }
            }
        }

        .heroSectionDescriptionContainer {

            >p {
                margin-top: 1rem;
                border-radius: 20px;
                padding: 1rem;
                background: rgb(255, 255, 255);
                background: linear-gradient(59deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 0) 100%);
                font-size: 1.6rem;
            }

            .testimonialContainer {
                display: flex;
                flex-direction: column;
                gap: 1rem;


                img {
                    margin: auto;
                    display: block;
                }
            }

            .explorarHoteles-inicioSesion-container {
                width: fit-content;
                display: flex;
                justify-content: center;
                gap: 0.5rem;
                margin: 1rem auto;
                background-color: #d9d9d970;
                border-radius: 6px;
                padding: 0.8rem 0.4rem;

                @include custom_wd(330) {
                    padding: 1rem;
                }

                a {
                    @include customEnlace();
                }

                a:first-child {
                    @include enlaces-explorarHoteles-inicioSesion(white, black);
                }

                a:last-child {
                    @include enlaces-explorarHoteles-inicioSesion(#404040b3, white);
                }
            }

            .registrarseAnchor {
                margin: auto;

                @include customEnlace();
                @include enlaces-explorarHoteles-inicioSesion(#C49C74, black)
            }

        }
    }
}

.comienza-a-buscar-section {
    background-color: #DDDDDD;
    position: relative;
    top: -10px;
    padding-bottom: 1.5rem;

    h2 {
        font-family: "Playfair Display SC", serif;
        font-weight: bold;
        text-align: center;
        color: #000000eb;
    }

    form {
        padding-top: 0.5rem;
        font-family: "Outfit", sans-serif;

        input,
        select {
            border: none;
            padding: 0.5rem;
            padding-left: 2.5rem;
            border-radius: 6px;
            margin: 1rem auto;
            display: block;
            color: #444444;
            background-color: white;

            @include sm {
                width: 320px;
            }

            &::placeholder {
                color: #909090;
            }
        }

        input:first-child {
            @include inputDates('../img/building-community.png');
        }

        #checkIn {
            @include inputDates('../img/calendar-up.png');
        }

        #checkOut {
            @include inputDates('../img/calendar-down.png');
        }

        .customDropdown {
            width: fit-content;
            background-color: white;
            margin: 1rem auto;

            &:focus {
                color: black;
            }

            &:not(:active) {
                color: black;
            }
        }

        .customDropdown-menu {

            li {
                @include flex-center();
                justify-content: space-between;
                gap: 1rem;
                padding: 1rem;
                user-select: none;

                p {
                    margin: 0;
                }

                div {
                    @include flex-center();
                    max-width: 91px;
                    min-width: 91px;
                    gap: 0.5rem;
                    border: 1px solid gray;
                    border-radius: 6px;
                    padding: 0.5rem 1rem;

                    label:first-child, label:last-child {
                        cursor: pointer;
                    }

                    label:nth-child(2) {
                        text-align: center;
                        min-width: 27px;
                    }
                }

                &:nth-child(2), &:last-child{

                    label:first-child {
                        cursor: not-allowed;
                        color: #bdbdbd;
                    }
                }
            }
        }

        button {
            border-radius: 6px;
            color: black;
            border: none;
            padding: 0.5rem 1rem;
            margin: auto;
            display: block;
        }

        button[type="submit"] {
            font-weight: 600;
            background-color: #C49C74;
        }
    }
}

.encuentra-tu-hotel-section {
    padding: 1rem;

    h2 {
        font-family: "Playfair Display SC", serif;
        font-weight: bold;
        color: #000000eb;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    .carousel-img {
        width: 406px;
        height: 304.5px;
        border-radius: 10px;
    }
}