* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0EFEF;
}

header {
  width: 100%;
  justify-content: space-between;
}
header .menu {
  margin: 1rem;
}
header .logo {
  margin: 1rem;
}
header .logo img {
  border-radius: 10px;
  filter: hue-rotate(45deg) drop-shadow(2px 4px 6px black);
}

main {
  background-image: url("../img/backgroundIndex.png");
  background-size: cover;
}
main .heroSection {
  color: #444444;
  font-family: "League Spartan", sans-serif;
}
main .heroSection .heroSectionTitleContainer {
  margin-top: 150px;
}
main .heroSection .heroSectionTitleContainer h1 {
  font-size: 3.5rem;
}
main .heroSection .heroSectionTitleContainer .brandsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
  background-color: rgba(68, 68, 68, 0.15);
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
main .heroSection .heroSectionTitleContainer .brandsList li {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .heroSection .heroSectionDescriptionContainer > p {
  margin-top: 1rem;
  border-radius: 20px;
  padding: 1rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(59deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 51%, rgba(255, 255, 255, 0) 100%);
  font-size: 1.6rem;
}
main .heroSection .heroSectionDescriptionContainer .testimonialContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .heroSection .heroSectionDescriptionContainer .testimonialContainer img {
  margin: auto;
  display: block;
}
main .heroSection .heroSectionDescriptionContainer .explorarHoteles-inicioSesion-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
  background-color: rgba(217, 217, 217, 0.4392156863);
  border-radius: 6px;
  padding: 0.8rem 0.4rem;
}
@media (min-width: 330px) {
  main .heroSection .heroSectionDescriptionContainer .explorarHoteles-inicioSesion-container {
    padding: 1rem;
  }
}
main .heroSection .heroSectionDescriptionContainer .explorarHoteles-inicioSesion-container a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  font-weight: bold;
  text-align: center;
  width: fit-content;
}
main .heroSection .heroSectionDescriptionContainer .explorarHoteles-inicioSesion-container a:first-child {
  background-color: white;
  color: black;
}
main .heroSection .heroSectionDescriptionContainer .explorarHoteles-inicioSesion-container a:last-child {
  background-color: rgba(64, 64, 64, 0.7019607843);
  color: white;
}
main .heroSection .heroSectionDescriptionContainer .registrarseAnchor {
  margin: auto;
  display: block;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  background-color: #C49C74;
  color: black;
}

.comienza-a-buscar-section {
  background-color: #DDDDDD;
  position: relative;
  top: -10px;
  padding-bottom: 1.5rem;
}
.comienza-a-buscar-section h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9215686275);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  padding: unset;
}
.comienza-a-buscar-section form {
  padding-top: 0.5rem;
  font-family: "Outfit", sans-serif;
}
.comienza-a-buscar-section form input,
.comienza-a-buscar-section form select {
  border: none;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: 6px;
  margin: 1rem auto;
  display: block;
  color: #444444;
  background-color: white;
}
@media (min-width: 576px) {
  .comienza-a-buscar-section form input,
  .comienza-a-buscar-section form select {
    width: 320px;
  }
}
.comienza-a-buscar-section form input::placeholder,
.comienza-a-buscar-section form select::placeholder {
  color: #909090;
}
.comienza-a-buscar-section form input:first-child {
  background-image: url("../img/building-community.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
}
.comienza-a-buscar-section form #checkIn {
  background-image: url("../img/calendar-up.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
}
.comienza-a-buscar-section form #checkOut {
  background-image: url("../img/calendar-down.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
}
.comienza-a-buscar-section form .customDropdown {
  width: fit-content;
  background-color: white;
  margin: 1rem auto;
}
.comienza-a-buscar-section form .customDropdown:focus {
  color: black;
}
.comienza-a-buscar-section form .customDropdown:not(:active) {
  color: black;
}
.comienza-a-buscar-section form .customDropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  user-select: none;
}
.comienza-a-buscar-section form .customDropdown-menu li p {
  margin: 0;
}
.comienza-a-buscar-section form .customDropdown-menu li div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 91px;
  min-width: 91px;
  gap: 0.5rem;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}
.comienza-a-buscar-section form .customDropdown-menu li div label:first-child,
.comienza-a-buscar-section form .customDropdown-menu li div label:last-child {
  cursor: pointer;
}
.comienza-a-buscar-section form .customDropdown-menu li div label:nth-child(2) {
  text-align: center;
  min-width: 27px;
}
.comienza-a-buscar-section form .customDropdown-menu li:nth-child(2) label:first-child, .comienza-a-buscar-section form .customDropdown-menu li:last-child label:first-child {
  cursor: not-allowed;
  color: #bdbdbd;
}
.comienza-a-buscar-section form button {
  border-radius: 6px;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  margin: auto;
  display: block;
}
.comienza-a-buscar-section form button[type=submit] {
  font-weight: 600;
  background-color: #C49C74;
}

.encuentra-tu-hotel-section {
  padding: 1rem;
}
.encuentra-tu-hotel-section h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9215686275);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.encuentra-tu-hotel-section .custom-carousel-inner .custom-carousel-content {
  height: 304.5px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.encuentra-tu-hotel-section .custom-carousel-inner .custom-carousel-content img {
  width: 30%;
  position: relative;
  top: 5%;
  left: 5%;
  border-radius: 6px;
}
.encuentra-tu-hotel-section .custom-carousel-inner #carousel_playa {
  background-image: url(../img/hotelPlaya_carousel.jpg);
}
.encuentra-tu-hotel-section .custom-carousel-inner #carousel_nieve {
  background-image: url(../img/hotelNieve_carousel.png);
}
.encuentra-tu-hotel-section .custom-carousel-inner #carousel_restuarante {
  background-image: url(../img/hotelRestaurante_carousel.png);
}
.encuentra-tu-hotel-section h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}
.encuentra-tu-hotel-section p {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
.encuentra-tu-hotel-section p span {
  color: #AE1E1E;
}

.beneficios-section {
  padding: 1rem;
  background-color: white;
  font-family: "League Spartan", sans-serif;
  color: black;
}
.beneficios-section h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9215686275);
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.beneficios-section .experiencia-servicio-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beneficios-section .experiencia-servicio-container h4 {
  font-weight: 600;
}

.exploreMoreBtn {
  color: white;
  background-color: rgba(0, 0, 0, 0.7019607843);
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid white;
  outline: 3px solid rgba(0, 0, 0, 0.7019607843);
  border-radius: 9999px;
  margin: 1rem auto;
  display: flex;
  gap: 1vw;
  align-items: center;
  cursor: pointer;
  padding: 0.2vw 0;
  padding-left: 3vw;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}
.exploreMoreBtn p {
  margin: 0;
}
.exploreMoreBtn:hover {
  background-color: white;
  transform: scale(1.05);
  color: black;
  border-color: black;
}
.exploreMoreBtn:hover p, .exploreMoreBtn:hover svg {
  transition: color 0.3s;
  color: black;
}
.exploreMoreBtn:hover svg path {
  fill: black;
}
.exploreMoreBtn .svg-arrow-extraSmall {
  width: 6vw;
  height: 6.5vw;
  margin-right: 1vw;
}

hr {
  margin: 0;
}

.reserva-section {
  background-color: white;
  padding: 1rem;
}
.reserva-section p {
  margin: 0;
}
.reserva-section .reserva-container {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid black;
}
.reserva-section .reserva-container h2 {
  text-align: center;
}
.reserva-section .reservar-explorar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.reserva-section .reservar-explorar button {
  border: 2px solid #4D4D4D;
  padding: 0.6rem 1.3rem;
  color: white;
  background-color: black;
}
.reserva-section .reservar-explorar button:last-child {
  background-color: white;
  color: black;
}

footer .logo-media-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logo-media-footer .logo {
  margin: 1rem;
}
footer .logo-media-footer .logo img {
  border-radius: 10px;
  filter: hue-rotate(45deg) drop-shadow(2px 4px 6px black);
}
footer .logo-media-footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 0.5rem;
}
footer .logo-media-footer .social-media li {
  width: 41.5px;
  height: 41.5px;
}
footer .logo-media-footer .social-media li img {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
